.main
  .main__top
    .main__top__info
      .main__top__info__name
        group
      .main__top__info__members
        Member：
    = link_to "#", class: "main__top__edit" do
      Edit
  .main__contents
    = render @messages
    
  .main__submit
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'main__submit__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'